In [138]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

In [139]:
dataFrame = pd.read_csv('titanic.csv')

In [140]:
dataFrame.head()

,Passengerid,Age,Fare,Sex,sibsp,zero,zero.1,zero.2,zero.3,zero.4,...,zero.12,zero.13,zero.14,Pclass,zero.15,zero.16,Embarked,zero.17,zero.18,2urvived
0,1,22.0,7.2500,0,1,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0
1,2,38.0,71.2833,1,1,0,0,0,0,0,...,0,0,0,1,0,0,0.0,0,0,1
2,3,26.0,7.9250,1,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,1
3,4,35.0,53.1000,1,1,0,0,0,0,0,...,0,0,0,1,0,0,2.0,0,0,1
4,5,35.0,8.0500,0,0,0,0,0,0,0,...,0,0,0,3,0,0,2.0,0,0,0

In [141]:
dataFrame = dataFrame[["2urvived", "Pclass", "Sex", "Age", "sibsp", "Parch", "Fare", "Embarked"]]
dataFrame = dataFrame.rename(columns={'2urvived': 'Survived'})

In [142]:
dataFrame = dataFrame.dropna()
dataFrame.head()

   Survived  Pclass  Sex   Age  sibsp  Parch     Fare  Embarked
0         0       3    0  22.0      1      0   7.2500       2.0
1         1       1    1  38.0      1      0  71.2833       0.0
2         1       3    1  26.0      0      0   7.9250       2.0
3         1       1    1  35.0      1      0  53.1000       2.0
4         0       3    0  35.0      0      0   8.0500       2.0

In [143]:
X = dataFrame.drop('Survived', axis=1)
Y = dataFrame['Survived']
xtrain, xtest, ytrain, ytest = train_test_split(X, Y, test_size=0.2, random_state=1)

In [144]:
from sklearn.linear_model import LogisticRegression

In [145]:
logisticModel = LogisticRegression(max_iter=1000)

In [146]:
logisticModel.fit(xtrain, ytrain)

LogisticRegression(max_iter=1000)

In [147]:
y_pred = logisticModel.predict(xtest)

In [148]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [149]:
asc = confusion_matrix(ytest, y_pred)
(asc[0][0]+asc[1][1])/np.sum(asc)

0.8358778625954199

In [150]:
class CustomLogisticRegression:
    def __init__(self, lr = 0.01, max_iter=1000):
        self.lr = lr
        self.max_iter = max_iter
        self.w = None
      
    
    def fit(self, x, y):
        x = np.copy(x)
        y = np.copy(y)
        x = np.insert(x ,0, 1.0, axis = 1)
        n, m = x.shape
        self.w = np.zeros(m)
        for itr in range(self.max_iter):
            sig_wTx = self.activation(np.dot(x, self.w))
            dW = (1 / n) * np.dot(x.T, (sig_wTx - y))
            self.w -= self.lr * dW
            
                
    def activation(self, z):
        return (1 / (1 + np.exp(-z)))
        
        
    def predict(self,xdata):
        xdata = np.copy(xdata)
        xdata = np.insert(xdata, 0, 1.0, axis=1)
        y_predicted = self.activation(np.dot(xdata, self.w))
        y_predicted = np.where(y_predicted > 0.5, 1, 0)
        
        return y_predicted

In [151]:
model = CustomLogisticRegression(max_iter=1000, lr=0.01)
model.fit(xtrain, ytrain)
y_predicted = model.predict(xtest)
# print(model.w)
# y_predicted

In [152]:
np.sum(y_predicted == ytest)/len(ytest)

0.7900763358778626